<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soft gripper redundancy system</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Oswald', sans-serif;
        }

        table {
          border: 1px solid #ddd;
          padding: 8px;
        }
        table tr:nth-child(even){background-color: #f2f2f2;}

        table tr:hover {background-color: #ddd;}

        table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color: rgb(65, 134, 67);
          color: white;
        }

        #result {
          width: 100%;
        }

        .container {
            display: inline-block;
            width: 800px;
            margin: 15px;
        }
    </style>
</head>
<body onload="update_values()">
    <h1 id="result" style="margin-left: 20px;"></h1>
    <div style="width:100%;">
        <div class="container">
        <h2>Camera data</h2>
        <img id="bg" src="{{ url_for('video_feed') }}">
    </div>
    <div class="container">
        <h2>Sensor data</h2>
        <div id="error" style="display: none;">
          <span style="color: crimson;">Connection error!</span>
          <form id="ip">
            <input type="text" name="ip" id="adress">
            <input type="submit" value="Change ESP32 IP adress">
          </form>
        </div>
        <table style="width:800px;">
          <tr>
            <th>Force sensor</th>
            <th>Flex sensor</th>
            <th>LED hue</th>
            <th>Camera hue</th>
          </tr>
          <tr>
            <td id='fr'></td>
            <td id='fl'></td>
            <td id='hue'></td>
            <td id='camera'></td>
          </tr>
        </table>
        <div class="chart" id="dataPlots" style="width:800px;height:600px;">
            <canvas id="plot"></canvas>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
        let intervalID = setInterval(update_values, 1000);
        let c = 0;
        let handleTemp = [0,0,0,0];
        let timeArray = [0];
        let isPaused = false;

        let data = {
          labels: timeArray,
          datasets: [{
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            data: [handleTemp[0]],
            label: 'Force',
            borderWidth: 1
          }, {
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.2)',
            data: [handleTemp[1]],
            label: 'Flex',
            borderWidth: 1
          }, {
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 0.2)',
            data: [handleTemp[2]],
            label: 'HUE Sensors',
            borderWidth: 1
          }, {
            backgroundColor: 'rgba(255, 159, 64, 0.2)',
            borderColor: 'rgba(255, 159, 64, 0.2)',
            data: [handleTemp[3]],
            label: 'HUE Camera',
            borderWidth: 1
          }]
        };
        const ctx = document.getElementById('plot');
        const config = {
          type: 'line',
          data: data,
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        }
        let chart = new Chart(ctx, config);

        function update_values() {
          $.get("/true_value",
                (data) => {
                    $('#result').text(data);
                });
          if(!isPaused) {
            $.get("/sensor_data",
                (data) => {
                  if(data[0] === "!") {
                    isPaused = true;
                    $('#error').show();
                    $("table").hide();
                    $(".chart").hide();
                  } 
                  handleTemp[0] = data[0];
                  handleTemp[1] = data[1];
                  handleTemp[2] = data[2];
                  handleTemp[3] = data[3];

                  $('#fr').text(handleTemp[0])
                  $('#fl').text(handleTemp[1])
                  $('#hue').text(handleTemp[2])
                  $('#camera').text(handleTemp[3])
            });

            c += 1;
            timeArray.push(c);
            //console.log(c);
            //console.log(handleTemp);

            let i = 0;
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(handleTemp[i]);
                i += 1;
            });
            if (c > 30) {
              chart.data.labels.pop();
              chart.data.datasets.forEach((dataset) => {
                  dataset.data.shift();
              });
            }
            chart.update();
          } else {
            $.get("/sensor_data", (data) => {
              if (data[0] !== "!" && isPaused) {
                isPaused = false;
                $("table").show();
                $(".chart").show();
                $('#error').hide();
                $('#ip input[type="submit"]').prop("disabled", false);
              }
            });
          }
          
        }

        $('#ip').submit((event) => {
          event.preventDefault();
          const newIP = $('#adress').val();
          const regexp = RegExp('^((25[0-5]|(2[0-4]|1[0-9]|[1-9]|)[0-9])(\.(?!$)|$)){4}$')
          if (regexp.test(newIP)) {
            $('#ip input[type="submit"]').prop("disabled", true);
            $.post("/set_new_ip", {ip:newIP}).done((data) => {
              if (data === "OK") location.reload();
            });
          }
          else {
            $('#error span').text("IP adress pattern mismatch. Try again!")
          }
        });
    </script>
</body>
</html>